<div class="p-grid headerClass">
    <div class="p-col-1" style="text-align: center;" >
        <a style="color: inherit;" routerLink="/">
            <h2 style="margin: 15% 0 0 10%;">
                NYT
            </h2>
            <h5 style="margin: 0 0 0 10%;">
                Article Search
            </h5>
        </a>    
    </div>
    <div class="p-col-10">
        <div class="p-grid">
            <div class="p-col-12 center_items" style="margin-top: 20px;">
                <form (ngSubmit)="sendRequest($event)">
                    <input class="fontInherit" type="text" pInputText placeholder="Search for the articles">
                </form>
            </div>
            <div class="p-col-12 center_items">
                <p-calendar class="fontInherit" [(ngModel)]="dateFrom" [maxDate]="maxDate" dateFormat="dd.mm.yy"
                    placeholder="From"></p-calendar>
                <p-calendar class="fontInherit" [(ngModel)]="dateTo" [maxDate]="maxDate" [minDate]="dateFrom"
                    dateFormat="dd.mm.yy" placeholder="To" style="margin-left: 5%;"></p-calendar>
            </div>
        </div>
    </div>
</div>

<app-articles [searchValue]="searchValue" [dateFrom]="dateFrom" [dateTo]="dateTo"></app-articles>