.articleTitle {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 20px;
}

.linkArticle {
    color: inherit;
    width: 80%;
}

.linkArticle:hover .articleTitle {
    text-decoration: underline;
}
